---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="Call for papers">
  <section class="mb-20">
    <div class="container flex flex-col gap-4">
      <h1>Call for papers</h1>

      <p>
        The Symposium of Experimental Algorithms 2026 (SEA 2026) will take place on June 22—24, 2026, in Copenhagen,
        Denmark, in IDA Conference Center, which is situated at the waterfront in the city center of Copenhagen, just a
        few minutes' walk from Copenhagen Central Station and Tivoli.
      </p>

      <p>
        SEA aims to attract papers from the Computer Science community, the Operations Research/Mathematical Programming
        community and any other scientific community that is concerned with the main theme of the symposium, namely the
        role of experimentation and of algorithm engineering techniques in the design and evaluation of algorithms and
        data structures.
      </p>

      <p>
        Submissions should present significant contributions supported by experimental evaluation, methodological issues
        in the design and interpretation of experiments, the use of (meta-)heuristics, or application-driven case
        studies that deepen the understanding of the complexity of a problem.
      </p>

      <h2 class="mt-8">Topics of interest</h2>

      <p>Topics include, but are not limited to:</p>

      <ul class="ml-6 list-disc">
        <li>Algorithm Engineering</li>
        <li>Algorithmic Libraries and Software Repositories</li>
        <li>Algorithmic Cryptography and Security</li>
        <li>Algorithmic Natural Language Processing</li>
        <li>Algorithmics for Databases</li>
        <li>Analysis of Algorithms</li>
        <li>Approximation Algorithms</li>
        <li>Bioinformatics and Computational Biology</li>
        <li>Branch-and-Bound Algorithms</li>
        <li>Combinatorial Problems and Structures</li>
        <li>Communication Networks</li>
        <li>Computational Geometry</li>
        <li>Computational Optimization</li>
        <li>Compressed space algorithms and data structures</li>
        <li>Data Structures</li>
        <li>Distributed and Parallel Algorithms</li>
        <li>Graph Algorithms</li>
        <li>Heuristic Algorithms</li>
        <li>Integer Programming</li>
        <li>Logistics and Operations Management</li>
        <li>Machine Learning and Data Mining</li>
        <li>Mathematical Programming</li>
        <li>Multiple Criteria Decision Making</li>
        <li>Network Analysis</li>
        <li>Online Problems</li>
        <li>Randomized Algorithms</li>
        <li>Semidefinite Programming</li>
        <li>String Algorithms</li>
        <li>Streaming and External Memory Algorithms</li>
      </ul>

      <p>
        We emphasize that SEA welcomes submissions that introduce novel applications of algorithms in other disciplines.
        Note that the SEA list of topics was updated with respect to past years.
      </p>

      <h2 class="mt-8">Best paper award</h2>

      <p>The program committee will identify a submission as the best paper.</p>

      <h2 class="mt-8">Proceedings</h2>

      <p>
        The conference proceedings will be published in the Leibniz International Proceedings in Informatics (LIPIcs), a
        series of high-quality conference proceedings across all fields in informatics established in cooperation with
        Schloss Dagstuhl Leibniz Center for Informatics. SEA Proceedings volumes are published according to the
        principle of OpenAccess, i.e., they are available online and free of charge.
      </p>

      <h2 class="mt-8">Submission guidelines</h2>

      <p>
        The authors should submit a paper not exceeding 12 pages, excluding the bibliography, the front page (title,
        keywords, abstract, ...), and a brief appendix of up to 5 pages (figures and tables should be counted as part of
        the space occupied by the appendix). <b>All papers have to be anonymized</b> so author names and affiliations cannot
        be included (see Double-Blind Reviewing section). Non-anonymized papers will be desk-rejected. Authors are required
        to use the LaTeX style file supplied for the LIPIcs style, without changing default values nor setting font size
        options in the "documentclass" statement (<a href="https://submission.dagstuhl.de/series/details/LIPIcs#author"
          >click here</a
        > to access LIPICs instructions for authors and <b>download the LaTeX template</b>). Final proceedings papers
        must be camera-ready in this format. We emphasize that a clearly marked Appendix of up to 5 pages, which will
        not count toward the 12 page submission limit, can be included and will be read at the referees' discretion. All
        submissions have to be made via the EasyChair submission page for the conference. Papers submitted for review
        should represent original, previously unpublished work or surveys of important results. At the time the paper is
        submitted to SEA, and for the entire review period, the paper (or essentially the same paper) should not be
        under review by any other conference with published proceedings or by a scientific journal. <b
          >At least one author</b
        > of each accepted paper will be expected to attend the conference and present the paper. Specifically, no accepted
        paper will be published unless an author registers to participate in the conference.
      </p>

      <h2 class="mt-8">Double-blind reviewing</h2>

      <p>
        SEA will implement a double-blind review process. As such, submissions must not disclose the authors' identities
        in any way. In particular, names, affiliations, and email addresses must be excluded from the paper. Authors
        should reference their prior work in the third person (e.g., instead of writing "We build on our previous
        work...", they should write "This work builds on the research of..."). Authors should also take care of the
        anonymization of accompanying software and data. In particular, they cannot link software hosted on their own
        GitHub page, but they need to link it anonymously (for example, via DropBox). The authors can insert the public
        GitHub links back in the proceedings version of their papers. Authors are free to share their ideas and drafts
        as they usually would. For instance, they can submit to repositories like arXiv or give talks on their research.
        If there are publicly accessible versions of the submission, authors may mention this in the submission (without
        including links or citations). Alternatively, they can inform the chairs, who will keep these details
        confidential unless sharing them is necessary for a fair review. Double-blind reviewing aims to allow program
        committee members and external reviewers to evaluate the paper impartially, without bias. However, it's not
        intended to make determining the authors' identity impossible through investigation. Authors should not
        compromise the submission's quality or hinder the review process in the name of anonymity; thus,
        <b>key references must not be omitted or anonymized</b>. Any authors with questions about the double-blind
        review process should contact the program committee chairs for clarification. All papers failing to meet
        anonymization requirements will be desk-rejected.
      </p>
      <h2 class="mt-8">Large language models policy</h2><p>
        Papers containing content generated by large language models (LLMs) such as ChatGPT or images created using deep
        generative models (DGMs) such as StableDiffusion are not allowed, except for:

        <ul class="ml-6 list-disc">
          <li>
            Generating scientific plots displaying data that the authors obtained from experiments (for example: it is
            allowed to use an LLM for generating Python code that generates plots showing experimental results)
          </li>

          <li>Polishing the text that the authors have personally written.</li>
        </ul>

        <p>
          Despite using LLMs or DGMs, authors remain fully responsible for ensuring their submissions' accuracy,
          originality, and quality. We urge authors to maintain the integrity of the academic publishing process and
          avoid any actions that could be considered scientific misconduct, such as plagiarism and misrepresenting
          figures. If a submission includes LLM-generated text or DGM-generated images, we require the authors <b>
            to disclose this information to the Program Chairs at the moment of submitting the paper</b>, by checking a dedicated box on EasyChair (and providing details on how they used these models). If the
          Program Chairs should have concerns regarding potential scientific misconduct (which includes using such
          models and not declaring it, even for the allowed situations above listed), the submission may be subjected to
          checks for plagiarism or other violations. Any papers failing to meet these requirements will be
          desk-rejected, even after the review process.
        </p>
      </p>
    </div>
  </section>
</DefaultLayout>
