---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import ContentMedia from '@components/ContentMedia.astro'
import PersonAffilChair from '@components/PersonAffilChair.astro'

import expertsImg from '../assets/images/experts-in-Copenhagen.png'
import localOrganizersImg from '../assets/images/pexels-gije-16140941.jpg'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Information</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="lucide:calendar-days" title="Important dates">
          <ul class="flex flex-col gap-0">
            <li>Submission: <b>tbd, 2026</b></li>
            <li>Notification: <b>tbd, 2026</b></li>
            <li>Final version: <b>tbd, 2026</b></li>
          </ul>
        </Feature>
        <Feature icon="lucide:star" title="Call for Papers"> Coming soon. </Feature>
        <!-- <Feature icon="lucide:users-round" title="Local Organizers">
          
        </Feature> -->
        <Feature icon="lucide:map-pinned" title="Location">
          IDA Conference center<br />
          Kalvebod Brygge 31<br />
          1560 København<br />
          Denmark
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia
    imgSrc={expertsImg}
    width={1350}
    height={900}
    alt="AI-generated drawing of experts discussing something in front of Nyhavn"
  >
    <h2>Program Committee</h2>
    <ul class="flex flex-col gap-4 text-2xl">
      <li>
        <PersonAffilChair
          name="Martin Aumüller"
          href="https://itu.dk/~maau"
          affiliation="IT University of Copenhagen"
          chair
        />
      </li>
      <li>
        <PersonAffilChair
          name="Irene Finocchi"
          href="https://clio.luiss.it/team_/irene_finocchi/"
          affiliation="LUISS University, Rome"
          chair
        />
      </li>
      <li>TDB</li>
    </ul>
  </ContentMedia>
  <!-- <ContentMedia imgSrc="/accessible-components.webp" reverseImg>
    <h2>Steering Committee</h2>
    <ul class="text-2xl">
      <li>Bora Uçar, CNRS, Laboratoire LIP, Lyon, France</li>
      <li>Christian Schulz, Heidelberg University, Germany</li>
      <li>Christos Zaroliagis, University of Patras, Greece</li>
      <li>Cynthia Phillips, Sandia National Laboratories, USA</li>
      <li>David Coudert, INRIA, France</li>
      <li>Dorothea Wagner, Karlsruhe Institute of Technology, Germany</li>
      <li>Domenico Cantone, Università degli Studi di Catania, Italy</li>
      <li>Gianlorenzo D'Angelo, Gran Sasso Science Institute, Italy</li>
      <li>Gonzalo Navarro, University of Chile, Chile</li>
      <li>Laurent Viennot, INRIA, France</li>
      <li>Leo Liberti, CNRS and École Polytechnique, France</li>
      <li>Loukas Georgiadis, University of Ioannina, Greece</li>
      <li>Nicola Prezza, Ca' Foscari University of Venice, Italy</li>
      <li>Petra Mutzel, University of Bonn, Germany</li>
      <li>Sabine Storandt, University of Konstanz, Germany</li>
      <li>Simon Puglisi, University of Helsinki, Finland</li>
      <li>Simone Faro, Università di Catania, Italy</li>
      <li>Ulrich Meyer, Goethe University Frankfurt, Germany (chair)</li>
    </ul>
  </ContentMedia> -->
  <ContentMedia imgSrc={localOrganizersImg} width={1349} height={1080} reverseImg alt="ss">
    <h2>Local Organizers</h2>
    <ul class="flex flex-col gap-4 text-2xl">
      <li>
        <PersonAffilChair
          name="Martin Aumüller"
          href="https://itu.dk/~maau"
          affiliation="IT University of Copenhagen"
        />
      </li>
      <li>
        <PersonAffilChair name="Holger Dell" href="https://holgerdell.com" affiliation="IT University of Copenhagen" />
      </li>
    </ul>
  </ContentMedia>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
