---
import type { ImageMetadata } from 'astro'
import { Picture } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: ImageMetadata
}

import nyhavn from '../assets/images/nyhavn-copenhagen.jpg'
const { src = nyhavn }: Props = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot
            ><span class="text-gradient">SEA 2026</span>
            <div class="text-xl">
              24<span class="align-super text-sm">th</span> Symposium on Experimental Algorithms
            </div>
            <div class="text-xl font-normal">Copenhagen, Denmark</div>
            <div class="text-xl font-normal">June 22—24, 2026</div>
          </slot>
        </h1>
        <!-- <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/call">
            <Icon name="lucide:star" />
            Call for papers
          </a>
          <a class="button has-icon color-secondary" href="/dates">
            <Icon name="lucide:bookmark" />
            Dates
          </a>
        </div> -->
      </div>
      <Picture
        class="rounded-lg"
        loading="eager"
        width={1600}
        height={900}
        densities={[1, 2, 3]}
        src={src}
        alt="Photo of Nyhavn"
      />
      <!-- <Image class="lightimage" src={"/pexels-pixabay-416024.jpg"} alt="" decoding="async" width={800} height={600} loading="eager" /> -->
    </div>
  </div>
</section>

<!-- <style is:global>
  .darkmode .lightimage {
    display: none;
  }
  .darkmode .darkimage {
    display: block;
  }
</style> -->
<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
